<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{pageTitle}}</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" novalidate (ngSubmit)="saveAdspot()" [formGroup]="adspotForm">
                    <div class="form-body">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.name }">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="" formControlName="name" />
                                <span class="help-block" *ngIf="displayMessage.name">{{displayMessage.name}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.street }">
                            <label class="col-md-3 control-label">Street</label>
                            <div class="col-md-9">
                                <textarea class="form-control" placeholder="" formControlName="street" ></textarea>
                                <span class="help-block" *ngIf="displayMessage.street">{{displayMessage.street}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.provinceId }">
                            <label class="col-md-3 control-label">Province</label>
                            <div class="col-md-9">
                                <select class="form-control" formControlName="provinceId" (change)="onProvinceChanged()">
                                    <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="displayMessage.provinceId">{{displayMessage.provinceId}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.regencyId }">
                            <label class="col-md-3 control-label">Regency</label>
                            <div class="col-md-9">
                                <select class="form-control" formControlName="regencyId" (change)="onRegencyChanged()">
                                    <option *ngFor="let regency of regencies" [value]="regency.id">{{regency.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="displayMessage.regencyId">{{displayMessage.regencyId}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.districtId }">
                            <label class="col-md-3 control-label">District</label>
                            <div class="col-md-9">
                                <select class="form-control" formControlName="districtId" (change)="onDistrictChanged()">
                                    <option *ngFor="let district of districts" [value]="district.id">{{district.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="displayMessage.districtId">{{displayMessage.districtId}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.villageId }">
                            <label class="col-md-3 control-label">Village</label>
                            <div class="col-md-9">
                                <select class="form-control" formControlName="villageId">
                                    <option *ngFor="let village of villages" [value]="village.id">{{village.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="displayMessage.villageId">{{displayMessage.villageId}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.postcode }">
                            <label class="col-md-3 control-label">Postcode</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" placeholder="" formControlName="postcode">
                                <span class="help-block" *ngIf="displayMessage.postcode">{{displayMessage.postcode}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Active</label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-inline">
                                    <label class="mt-checkbox  mt-checkbox-outline">
                                        <input type="checkbox" class="form-control" placeholder="" formControlName="isActive" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green" [disabled]="!adspotForm.valid">Save</button>
                                <button type="button" class="btn default" [routerLink]="['/master/adspots']">Cancel</button>
                                <button type="button" class="btn btn-default" (click)="deleteAdspot()">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
            </div>
        </div>
    </div>
</div>