<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{pageTitle}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-2">Filter by:</div>
                    <div class="col-md-4">
                        <input type="text" [(ngModel)]="listFilter" />
                    </div>
                </div>
                <div class="row" *ngIf="listFilter">
                    <div class="col-md-6">
                        <h3>Filtered by: {{listFilter}} </h3>
                    </div>
                </div>

                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
                <button class="btn green"
                        [routerLink]="['/userManagement/users', '0', 'edit']">
                    <i class="fa fa-plus"></i>
                    Add
                </button>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" *ngIf="users && users.length > 0">
                        <thead>
                            <tr>
                                <th> Username </th>
                                <th> First Name </th>
                                <th> Last Name </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | filter:{ userName: listFilter, firstName: listFilter, lastName: listFilter  } : false  | paginate: { itemsPerPage: 10, currentPage: p, id:'users' }">
                                <td>
                                    <a [routerLink]="['/userManagement/users', user.id]"
                                       [queryParams]="{filterBy: listFilter}">
                                        {{user.userName}}
                                    </a>
                                </td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>
                                    <a class="btn btn-primary"
                                       [routerLink]="['/userManagement/users', user.id, 'edit']">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row ">
                    <div class=" pull-right">
                        <pagination-controls (pageChange)="p = $event" autoHide="true" id="users"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>